In [1]:
import joblib 
import os
import pandas as pd
import numpy as np

In [2]:
data_path = './data/individual'
ts = 'ts.joblib'
items = 'local_invariant.joblib'
price = 'local_variant_price.joblib'
snap = 'local_variant_snap.joblib'

In [3]:
ts = joblib.load(os.path.join(data_path, ts))

In [4]:
ts.head()

,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_006_CA_1_evaluation,HOBBIES_1_007_CA_1_evaluation,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_010_CA_1_evaluation,...,FOODS_3_818_WI_3_evaluation,FOODS_3_819_WI_3_evaluation,FOODS_3_820_WI_3_evaluation,FOODS_3_821_WI_3_evaluation,FOODS_3_822_WI_3_evaluation,FOODS_3_823_WI_3_evaluation,FOODS_3_824_WI_3_evaluation,FOODS_3_825_WI_3_evaluation,FOODS_3_826_WI_3_evaluation,FOODS_3_827_WI_3_evaluation
date,,,,,,,,,,,,,,,,,,,,,
2011-01-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,0.0,...,0.0,14.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
2011-01-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,...,0.0,11.0,1.0,0.0,4.0,0.0,0.0,6.0,0.0,0.0
2011-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,...,0.0,5.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
2011-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,6.0,1.0,0.0,5.0,2.0,0.0,2.0,0.0,0.0
2011-02-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0

In [5]:
items = joblib.load(os.path.join(data_path, items))

In [6]:
items.head()

      id  item_id  dept_id  cat_id  store_id  state_id
0  14370     1437        3       1         0         0
1  14380     1438        3       1         0         0
2  14390     1439        3       1         0         0
3  14400     1440        3       1         0         0
4  14410     1441        3       1         0         0

In [7]:
price = joblib.load(os.path.join(data_path, price))

In [8]:
price.shape

(1969, 30490)

In [9]:
price.head()

id,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_006_CA_1_evaluation,HOBBIES_1_007_CA_1_evaluation,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_010_CA_1_evaluation,...,FOODS_3_818_WI_3_evaluation,FOODS_3_819_WI_3_evaluation,FOODS_3_820_WI_3_evaluation,FOODS_3_821_WI_3_evaluation,FOODS_3_822_WI_3_evaluation,FOODS_3_823_WI_3_evaluation,FOODS_3_824_WI_3_evaluation,FOODS_3_825_WI_3_evaluation,FOODS_3_826_WI_3_evaluation,FOODS_3_827_WI_3_evaluation
date,,,,,,,,,,,,,,,,,,,,,
2011-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.459961,1.55957,3.169922,...,NaN,1.980469,1.570312,NaN,3.980469,2.5,2.470703,4.0,NaN,NaN
2011-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.459961,1.55957,3.169922,...,NaN,1.980469,1.570312,NaN,3.980469,2.5,2.470703,4.0,NaN,NaN
2011-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.459961,1.55957,3.169922,...,NaN,1.980469,1.570312,NaN,3.980469,2.5,2.470703,4.0,NaN,NaN
2011-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.459961,1.55957,3.169922,...,NaN,1.980469,1.570312,NaN,3.980469,2.5,2.470703,4.0,NaN,NaN
2011-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.459961,1.55957,3.169922,...,NaN,1.980469,1.570312,NaN,3.980469,2.5,2.470703,4.0,NaN,NaN

In [10]:
snap = joblib.load(os.path.join(data_path, snap))
snap.shape

(1969, 30490)

In [11]:
s = pd.melt(snap, value_name='snap')
s.head()

                        variable  snap
0  HOBBIES_1_001_CA_1_evaluation   0.0
1  HOBBIES_1_001_CA_1_evaluation   0.0
2  HOBBIES_1_001_CA_1_evaluation   0.0
3  HOBBIES_1_001_CA_1_evaluation   1.0
4  HOBBIES_1_001_CA_1_evaluation   1.0

In [12]:
pd.unique(s['snap'])

array([0., 1.], dtype=float16)

In [13]:
snap.head()

,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_006_CA_1_evaluation,HOBBIES_1_007_CA_1_evaluation,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_010_CA_1_evaluation,...,FOODS_3_818_WI_3_evaluation,FOODS_3_819_WI_3_evaluation,FOODS_3_820_WI_3_evaluation,FOODS_3_821_WI_3_evaluation,FOODS_3_822_WI_3_evaluation,FOODS_3_823_WI_3_evaluation,FOODS_3_824_WI_3_evaluation,FOODS_3_825_WI_3_evaluation,FOODS_3_826_WI_3_evaluation,FOODS_3_827_WI_3_evaluation
date,,,,,,,,,,,,,,,,,,,,,
2011-01-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-01-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-02-01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-02-02,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [14]:
ts_cols = ts.columns
multi_index = pd.MultiIndex.from_product([['price', 'snap'], ts_cols])
local = pd.DataFrame(pd.concat([price, snap], axis=1).values, columns=multi_index, index=ts.index)

In [15]:
local.shape

(1969, 60980)

In [16]:

from data_loader_2 import DataLoader

data_path = './data/individual'
ts_file = 'ts.joblib'

# global features
num_cov_global_file = None
cat_cov_global_file = None

# local variant features
num_cov_local_variant_file = ['local_variant_price.joblib']
num_cov_local_variant_names = ['price']
cat_cov_local_variant_file = ['local_variant_snap.joblib', 'local_variant_release.joblib']
cat_cov_local_variant_names = ['snap', 'release']

# local invariant features
num_cov_local_invariant_file = None 
cat_cov_local_invariant_file = 'local_invariant.joblib'

# target cols: we predict all time series

# data loader
loader = DataLoader(
        data_path,
        ts_file,
        num_cov_global_file=num_cov_global_file,
        cat_cov_global_file=cat_cov_global_file,
        num_cov_local_variant_file=num_cov_local_variant_file,
        cat_cov_local_variant_file=cat_cov_local_variant_file,
        num_cov_local_invariant_file=num_cov_local_invariant_file,
        cat_cov_local_invariant_file=cat_cov_local_invariant_file,
        num_cov_local_variant_names = num_cov_local_variant_names,
        cat_cov_local_variant_names = cat_cov_local_variant_names,
        target_cols=None,
        train_range=[0, 1913],
        val_range=[1913, 1941],
        test_range=[1941, 1969],
        hist_len=28,
        token_len=7,
        pred_len=28,
        batch_size=64,
        freq='D',
        normalize=True,
        use_time_features=True,
        use_holiday=True,
        use_holiday_distance=False,
        normalize_time_features=False,
        use_history_for_covariates=True
)

2023-09-09 17:07:41.667730: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-09-09 17:07:41.688452: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-09 17:07:41.974256: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

Generating time features.................

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1969/1969 [00:09<00:00, 197.77it/s]

In [17]:
# 
train_ds = loader.generate_dataset(mode='train', shuffle=True, seed = 2023)
val_ds = loader.generate_dataset(mode='validation', shuffle=False)

2023-09-09 17:08:31.676082: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.690565: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.690652: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.691755: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.691834: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.691880: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.935551: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.935661: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.935712: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-09 17:08:31.935759: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1635] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 21731 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:01:00.0, compute capability: 8.6

In [18]:
for batch in train_ds:
    enc, dec = batch
    ts_enc, num_global_enc, cat_global_enc, num_local_variant_enc, cat_local_variant_enc, num_local_invariant_enc, cat_local_invariant_enc, time_features_enc = enc
    ts_dec, num_global_dec, cat_global_dec, num_local_variant_dec, cat_local_variant_dec, num_local_invariant_dec, cat_local_invariant_dec, time_features_dec = dec
    
    print("======================encoder===============")
    print(ts_enc.shape)
    print(num_global_enc.shape)
    print(cat_global_enc.shape)
    print(num_local_variant_enc.shape)
    print(cat_local_variant_enc.shape)
    print(num_local_invariant_enc.shape)
    print(cat_local_invariant_enc.shape)
    print(time_features_enc.shape)
    print("===================decoder============")
    print(ts_dec.shape)
    print(num_global_dec.shape)
    print(cat_global_dec.shape)
    print(num_local_variant_dec.shape)
    print(cat_local_variant_dec.shape)
    print(num_local_invariant_dec.shape)
    print(cat_local_invariant_dec.shape)
    print(time_features_dec.shape)
    break

2023-09-09 17:08:32.299015: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype int32
	 [[{{node Placeholder/_0}}]]

======================encoder===============
(64, 28, 1)
()
()
(64, 28, 1)
(64, 28, 2)
()
(64, 6)
(64, 28, 7)
===================decoder============
(64, 35, 1)
()
()
(64, 35, 1)
(64, 35, 2)
()
()
(64, 35, 7)

In [19]:
# data loader
loader = DataLoader(
        data_path,
        ts_file,
        num_cov_global_file=num_cov_global_file,
        cat_cov_global_file=cat_cov_global_file,
        num_cov_local_variant_file=num_cov_local_variant_file,
        cat_cov_local_variant_file=cat_cov_local_variant_file,
        num_cov_local_invariant_file=num_cov_local_invariant_file,
        cat_cov_local_invariant_file=cat_cov_local_invariant_file,
        num_cov_local_variant_names = num_cov_local_variant_names,
        cat_cov_local_variant_names = cat_cov_local_variant_names,
        target_cols=None,
        train_range=[0, 1913],
        val_range=[1913, 1941],
        test_range=[1941, 1969],
        hist_len=28,
        token_len=7,
        pred_len=28,
        batch_size=64,
        freq='D',
        normalize=True,
        use_time_features=True,
        use_holiday=True,
        use_holiday_distance=False,
        normalize_time_features=False,
        use_history_for_covariates=False
)

train_ds = loader.generate_dataset(mode='train', shuffle=True, seed = 2023)
val_ds = loader.generate_dataset(mode='validation', shuffle=False)

Generating time features.................

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1969/1969 [00:09<00:00, 196.92it/s]

In [20]:
for batch in train_ds:
    enc, dec = batch
    ts_enc, num_global_enc, cat_global_enc, num_local_variant_enc, cat_local_variant_enc, num_local_invariant_enc, cat_local_invariant_enc, time_features_enc = enc
    ts_dec, num_global_dec, cat_global_dec, num_local_variant_dec, cat_local_variant_dec, num_local_invariant_dec, cat_local_invariant_dec, time_features_dec = dec
    
    print("======================encoder===============")
    print(ts_enc.shape)
    print(num_global_enc.shape)
    print(cat_global_enc.shape)
    print(num_local_variant_enc.shape)
    print(cat_local_variant_enc.shape)
    print(num_local_invariant_enc.shape)
    print(cat_local_invariant_enc.shape)
    print(time_features_enc.shape)
    print("===================decoder============")
    print(ts_dec.shape)
    print(num_global_dec.shape)
    print(cat_global_dec.shape)
    print(num_local_variant_dec.shape)
    print(cat_local_variant_dec.shape)
    print(num_local_invariant_dec.shape)
    print(cat_local_invariant_dec.shape)
    print(time_features_dec.shape)
    break

======================encoder===============
(64, 28, 1)
()
()
(64, 1, 1)
(64, 1, 2)
()
(64, 6)
(64, 28, 7)
===================decoder============
(64, 35, 1)
()
()
()
()
()
()
(64, 35, 7)

2023-09-09 17:09:21.701262: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype int32
	 [[{{node Placeholder/_0}}]]